*{
    box-sizing: border-box;
}

body{
    background-color:rgb(6, 13, 20) ;
}

.imagenfondo{
    background-image: url(../images/justin-bieber-justice.jpeg);
    padding: 20px;
}
.margen{
    padding: 10px;
}
.centrado{
    text-align: center;
}
.topcanciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}
.justinimage{
    width:20%
}

.justinimage img{
    width: 100%;
    border-radius: 10px;
}
article .numero{
    padding: 10px 30px;
    font-weight: bold
}
.numero{
    color: white;
}
.texto a{
    color: white;
    text-decoration: none;
}
.texto .negrita{
    font-weight: normal;
}
.texto .chico{
    font-size: small;
    color: #A7A7A7 ;
}
