*{
    box-sizing: border-box;
}
body{
    background-color:  rgb(6, 13, 20);
    background-image: url(../images/cancion_justin.jpg);
}
section{
    margin: 200px 450px;
    background-color: red;
    text-align: center;
    padding: 0.5px;
}
.titulo{
    color:white;
}
.texto{
    color: #646464;
}
