*{
    box-sizing: border-box;
}
body{
    background-color: rgb(6, 13, 20);
    
}
section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}
.blanco{
    color:white;
}
.texto{
    text-align: center;
}
.texto a{
    color: #646464;
    text-decoration: none;
}
.mobile{
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.foto_mobile{
    width: 420px  

}
.desktop {
    display: none;
}
 @media (min-width: 1024px){
    body{
        background-size: 1024px;
     }
    .texto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        font-size: large;
    }
    .desktop{
        display: block;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    .foto_desktop{
        width: 1240px;
        
    }
    .mobile{
        display: none;

    }
}
 
