*{
    box-sizing: border-box;
}
body{
    background-color: rgb(6, 13, 20);
    
}
/*section{
    
    
    
}*/
.blanco{
    color:white;
}
.texto{
    color: #646464;
    text-align: center;
}
.mobile{
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.foto_mobile{
    width: 420px  

}
.desktop {
    display: none;
}
 @media (min-width: 1024px){
    body{
        background-size: 1024px;
     }
    .texto{
        background-color: #B91D1D;
        padding: 2px;
        margin: 40px 200px;
        font-size: large;
    }
    .desktop{
        display: block;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    .foto_desktop{
        width: 1240px;
        
    }
    .mobile{
        display: none;

    }
}
 
