*{
    box-sizing: border-box;
}
body{
    background-color:  rgb(6, 13, 20);
}
.primera_seccion{
  /*  padding: 
    margin: */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.primera_seccion .imagen{
    width: 50%;
    padding: 50px 10px 10px 30px;
}
.primera_seccion img{
    width: 100%;
    border-radius: 10px;
}
.primera_seccion article{
    color: #A7A7A7;
    padding: 35px;
    width: 40%;
    font-size:medium;
}
.white{
    color: white;
}
article a{
    color:#A7A7A7;
    text-decoration: none;
}

.segunda_seccion{
    color: #A7A7A7;
}
.segunda_seccion a{
    color:white
}
.segunda_seccion article{
    padding: 1px 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.segunda_seccion .player{
    padding: 30px 45px 30px 50px;
    font-size:xx-large;

}

.segunda_seccion .texto{
    padding: 0px 50px;
    font-size: medium;
}

@media (min-width: 1024px) {
    body{
        margin: 0px 0px 0px 70px;
    }
    .primera_seccion .imagen{
        width: 30%;
    }
    .primera_seccion article{
        padding: 50px;
    }
    .segunda_seccion article{
        padding: 10px ;
    }
}