*{ 
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 26, 51);
}
h2{
    text-align: center;
    background-color: blueviolet;
}
h3{
    color: white;
}
p{
    color: white;
}
.sencillos{
    display: flex;
    flex-wrap: wrap;

}
.artistas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
.img-art{
    border-radius: 98%;
}
.album{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
img{
    width: 100%;
}
 @media (min-width: 768px) {
.sencillos{
    width: 50%;
    justify-content: space-between;
    
}
 @media (min-width: 1024px) {
  .sencillos{
    width: 33%;
    justify-content: space-around;
  }



}