*{ 
    box-sizing: border-box;
}
body{
    background-color: rgb(6, 13, 20);
    font-family: 'Rubik', sans-serif;
}
h2{
    color: white;
    font-size: 20px;
}
.search-artist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}
.search-artist article{
    width: 40%;
}
img{
    width: 100%;
}
article{
    width: 100%;
}

.player{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}
i{
    color: white;
}
@media (min-width: 1024px){
    .search-album{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .search-album article{
        width: 40%;
    }
    .img-art{
        width: 500px;
    
    }
    .segunda_seccion{
        display: none;
    }
}